@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .scrollTable {
        height: 200px;
        overflow-y: scroll;
    }
</style>

<table>
    <tr>
        <td>
            <div>
                <h3>Купить</h3>
                <form method="post" action="/Home/Buy">
                    <table>
                        <tr><td><input type="number" min="0" step="0.01" name="Price" placeholder="Цена за шт." /> </td></tr>
                        <tr><td><input type="number" min="0" name="Count" placeholder="Количество" /> </td></tr>
                        <tr><td><input type="email" name="Email" placeholder="Email" /> </td></tr>
                        <tr><td><input type="submit" value="ОК" /> </td><td></td></tr>
                    </table>
                </form>
            </div>
        </td>
        <td>
            <div>
                <h3>Продать</h3>
                <form method="post" action="/Home/Sell">
                    <table>
                        <tr><td><input type="number" min="0" step="0.01" name="Price" placeholder="Цена за шт." /> </td></tr>
                        <tr><td><input type="number" min="0" name="Count" placeholder="Количество" /> </td></tr>
                        <tr><td><input type="email" name="Email" placeholder="Email" /> </td></tr>
                        <tr><td><input type="submit" value="ОК" /> </td><td></td></tr>
                    </table>
                </form>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Ордера на продажу</h3>
            <div class="scrollTable">
                <table border="1">
                    <tr>
                        <td><p>Цена</p></td>
                        <td><p>Кол-во</p></td>
                        <td><p>Email</p></td>
                    </tr>
                    @foreach (var b in ViewBag.SellerOrders)
                    {
                        <tr>
                            <td><p>@b.Price</p></td>
                            <td><p>@b.Count</p></td>
                            <td><p>@b.Email</p></td>
                        </tr>
                    }
                </table>
            </div>
        </td>
        <td>
            <h3>Ордера на покупку</h3>
            <div class="scrollTable">
                <table border="1">
                    <tr>
                        <td><p>Цена</p></td>
                        <td><p>Кол-во</p></td>
                        <td><p>Email</p></td>
                    </tr>
                    @foreach (var b in ViewBag.CustomerOrders)
                    {
                        <tr>
                            <td><p>@b.Price</p></td>
                            <td><p>@b.Count</p></td>
                            <td><p>@b.Email</p></td>
                        </tr>
                    }
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h3>Завершенные сделки</h3>
            <table border="1">
                <tr>
                    <td><p>Выполнено</p></td>
                    <td><p>Дата К*</p></td>
                    <td><p>Дата П*</p></td>
                    <td><p>Цена</p></td>
                    <td><p>Количество</p></td>
                    <td><p>Email К*</p></td>
                    <td><p>Email П*</p></td>
                </tr>
                @foreach (var b in ViewBag.Orders)
                {
                    <tr>
                        <td><p>@b.DateTimeCompleted</p></td>
                        <td><p>@b.DateTimeCustomer</p></td>
                        <td><p>@b.DateTimeSeller</p></td>
                        <td><p>@b.Price</p></td>
                        <td><p>@b.Count</p></td>
                        <td><p>@b.EmailCustomer</p></td>
                        <td><p>@b.EmailSeller</p></td>
                    </tr>
                }
            </table>
        </td>
    </tr>
</table>
